.meal {
  position: relative;
  display: grid;
  grid-row-gap: 24px;
}

.meal__content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.meal__name {
  line-height: 27px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-grey500);
}

.meal__price {
  line-height: 36px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-grey500);
}

.meal__price i {
  line-height: 36px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-yellow300);
}
.meal__form {
  grid-column-gap: 6px;
}

.meal__label {
  grid-auto-flow: row;
  grid-row-gap: 4px;
  max-width: 60px;
}

.meal__label span {
  font-size: 14px;
  font-weight: 700;
}

.meal__button {
  width: 48px;
  height: 48px;
  font-size: 24px;
}

.meal__label_error {
  border-color: var(--color-red300);
}

