.meals {
  display: block;
  padding-bottom: 40px;
}

.meals_hidden {
  display: none;
}

.meals__headline {
  margin-bottom: 24px;
  line-height: 36px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-grey500);
}

.meals__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}