.label {
  grid-template-columns: auto 1fr;
  grid-column-gap: 8px;
  padding-right: 32px;
  padding-left: 24px;
  max-width: 510px;
  border-radius: 16px;
  background: var(--color-white);
}

.label__input {
  font-size: 18px;
  color: var(--color-grey500);
  border: 0;
  outline: 0;
}

.label__input::placeholder {
  color: var(--color-grey100);
}