.label__input {
  padding: 4px;
  width: 100%;
  font-size: 18px;
  color: var(--color-grey500);
  border: 1px solid var(--color-yellow300);
  border-radius: 4px;
  outline: 0;
}

.label__input::placeholder {
  color: var(--color-grey100);
}