.banner__wrapper {
  position: relative;
  display: grid;
  grid-row-gap: 16px;
  padding:  43px 0 37px 52px;
  color: var(--color-white);
  border-radius: 16px;
  background: var(--color-yellow300);
}

.banner__content {
  max-width: 480px;
}

.banner__headline {
  line-height: 48px;
  font-size: 32px;
  font-weight: 700;
}

.banner__description {
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.banner__image {
  position: absolute;
  right: 24px;
  width: 360px;
  height: 100%;
}